.DS_Store
.eslintcache
.idea
node_modules
npm-debug.log
coverage
module.config.js

dist/
src/i18n/transifex_input.json
temp/babel-plugin-react-intl

### pyenv ###
.python-version

### Emacs ###
*~
/temp
/.vscode

### Tutor ###
# This file is included as a part of tutor-mfe
# https://github.com/overhangio/tutor-mfe/blob/master/tutormfe/templates/mfe/apps/mfe/webpack.dev.config.js
webpack.dev.config.js
